body {
    background-color:rgb(214, 218, 9);
}

#container{
    background-color: white;
    width: 65%;
    margin:20px auto;
    background-color: rgb(228, 45, 45);
    border: 2px solid black;
    padding: 20px;

}
img{
    display: block;
    width: 100%;
    margin: auto;
}
 nav ul {
    list-style-type: none;
     padding: 0;
 }

 nav li {
display:inline-block;
 }

 nav li a {
  display:block;
  color:white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin:0 20px;
  width:125px;
  height:40px;
  ;line-height:40px;
 }

    #banner{
         width: 100%;  
    }






.heading_style{
    text-shadow: 2px 2px 2px #8d1818;
}

.movie_post{
    width: 40%;
    
     
}

 nav a:hover{
    background-color:white;
    color:black;
 }
main{
    display: flex;
    width: 100%;
    margin: 10px auto;
}
section{
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: solid black;

}

aside{
   display:block;
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: solid black;
}
#one_column{
    width: 100%;
    margin: 20px auto;
}
 h1,h2,h3,footer{
    text-align:center;

 }

 .small_image{
    width: 50%;
 }
